.footer1, .footer2{
	background-color: #c79462;  /*#2f7351;*/
	color: #fff;
}

.footer2{
	float: left;
	padding: 2px 15px 0px 5px;
	border-radius: 0 20px 0 0;

}
.footer1{
	float: right;
	padding: 2px 5px 0px 10px;
	border-radius: 20px 0 0 0;
	/*height: 25px;*/
}
.footer1 p , .footer2 p{
	margin: 0 0 1px;
}
footer{
	clear: both;
	height: 23px;
}