<div class="head">
	<img src="./assets/images/head1.png" class="right">
	<div class="head_title">
		<h4>الخطة الاستراتيجية</h4>
		<h4>لكلية المسجد النبوي</h4>
		<p> 1439 - 1444 ه | 2018 - 2022 م </p>
	</div>
	<img src="./assets/images/head2.png" class="left">
</div>
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		    </button>
		</div>
		<div class="collapse navbar-collapse" id="navbar1">
			<ul class="nav navbar-nav">
				<li routerLinkActive="active"><a routerLink="/plans">
					<img src="assets/images/navbar/plan.png" alt="">الخطة في السطور</a>
				</li>
				<li routerLinkActive="active"><a routerLink="/projects">
					<img src="assets/images/navbar/project.png" alt="">المشاريع</a>
				</li>
				<li routerLinkActive="active"><a routerLink="/#">
					<img src="assets/images/navbar/report.png" alt="">التقارير</a>
				</li>
				<li routerLinkActive="active"><a routerLink="/programs">
					<img src="assets/images/navbar/program.png" alt="">البرامج</a>
				</li>
			</ul>
		</div>
	</div>
</nav>