<div class="sidebar">
	<h2>نظام توثيق <br />
		و متابعة المشاريع <br />
		والمهام الاستراتيجية
	</h2>
	<h3>
		نظام متكامل لتوثيق و متابعة تنفيذ الخطة الاستراتيجية من ناحية الانجاز، المخرجات والماليات
	</h3>
	<ul class="list-group">
		<li>
			إدارة المهام وتحديد اﻷشخاص المسؤولين عن كل مهمة والنطاق الزمني للتنفيذ ومتابعة الجداول الزمنية والمخرجات.
		</li>
		<li>
			إدارة الميزانية التقديرية للخطة وأوجه الصرف علي البرامج والمشاريع المختلفة.
		</li>
		<li>
			نظام مرن وسهل اﻷستخدام لبناء التقارير مع مكتبة من التقارير سابقة التعريف.
		</li>
		<li>
			إرسال التنبيهات للمستخدمين بصورة الية عبر الرساءل الإلكترونية (e-mail) وحسابات المستخدمين.
		</li>
		<li>
			الية شاملة لتعريف وإدارة صلاحيات المستخدمين.
		</li>
		<li>
			دعم اﻷجهزة الذكية.
		</li>
	</ul>
	<div class="form-group">
		<input type="text" class="form-control" id="username" placeholder="اسم المستخدم">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" id="password" placeholder="كلمة المرور">
	</div>
	<a id="forget_password" routerLink="/#">نسيت كلمه السر أو اسم المستخدم؟</a>
	<a routerLink="/plans"><button class="btn btn-success btn-block" id="login">تسجيل الدخول</button></a>
	
</div>